.item{
    height: 50px;
    background: #ffffff;
    border-bottom: 1px solid #f4f6f8;
    font-size: 14px;
    padding: 15px;
}

.item_title{
    overflow: hidden;
    line-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.item_time{
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}

img{
    width: 24px;
    height: 12px;
    margin-left: 2px;
}