.index {
  color: #555555;
  padding: 10px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list-item {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.list-item>span:nth-of-type(1) {
  font-weight: bold;
}

.list-item>span:nth-of-type(2) {
  margin-right: 20px;
}

.left-sty{
  margin-left: 10px;
}